/*------------------------------------- global settings --------------------------------*/
@font-face {
  font-family: "Inter Tight";
  font-style: normal;
  font-weight: 100 900; /* variable range */
  src: url("./fonts/InterTight-VariableFont_wght.ttf") format("truetype");
  font-display: swap;
}

:root {
  /*---------------- header settings ----------------*/

  --header-section-text-color: black;
  --header-section-logo-size: 2rem;

  /*---------------- main section settings ----------*/

  --main-section-background-color: #ffe8ba;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter Tight", sans-serif;
  font-weight: 400;
}

.section-wrapper {
  max-width: 1600px;
  height: 100%;
  margin: 0 auto;
}

/*------------------------------------------ header -----------------------------------------*/
.logo {
  font-size: var(--header-section-logo-size);
}

.header-wrapper a {
  text-decoration: none;
  color: var(--header-section-text-color);
}

.header-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  gap: 2rem;
  padding: 1rem 2rem;
}

.header-wrapper nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 2rem;
}

.cart-btn {
  display: flex;
  justify-content: end;
  align-items: center;
  border: none;
  background: transparent;
  cursor: pointer;
  gap: 0.1rem;
  font-weight: 600;
}

.cart-btn img {
  align-items: center;
  height: 25px;
  width: 100%;
}

/*------------------------------------------ main section -----------------------------------*/
main {
  background-color: var(--main-section-background-color);
}
/*------------------------------------------ responsive -------------------------------------*/
